@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "roboto";
    src: url("../src/fonts/Roboto-Regular.ttf");
}
/* 
@font-face {
    font-family: "poppins";
    src: url("../src/fonts/adbalumo/Roboto/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "lit";
    src: url("../src/fonts/adbalumo/Roboto/liltia/LilitaOne-Regular.ttf");
} */

@font-face {
    font-family: "lit";
    src: url("../src/fonts/LilitaOne-Regular.ttf");
}

@font-face {
    font-family: "poppins";
    src: url("../src/fonts/Poppins-Regular.ttf");
}

.boxSha {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

.line {
    line-height: 1.2em;
}

.text6 {
    text-shadow: 0.5px 0.5px 0px #db2777;
}

.bgImg {
    background-image: url("../src/assets/logo1.png");
}

.bgImg1 {
    background-image: url("../src/assets/logo2.png");
}

.text1 {
    text-shadow: 0px 0px 0px black;
}

.boxSha {
    text-shadow: 0px 3px 4px red;
}

.swiper-button-next, .swiper-button-prev {
    background-color: #2563eb;
    width: 4em;
    border-radius: 50%;
    height: 4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:hover {
    background-color: white;
    color: #2563eb;
}

.swiper-button-prev:hover {
    background-color: white;
    color: #2563eb;
}

.swiper-button-next {
    padding-left: 0.5em;
}

.swiper-button-prev {
    padding-right: 0.5em;
}

.poppins {
    font-size: poppins;
}


.roboto {
    font-size: roboto;
}

.text2 {
    text-shadow: 0px 0px 4px white;
}

.lit {
    font-size: "lit";
}

@media screen and (min-width: 300px) {
    .text11 {
        font-size: 1.5rem;
    }
}
